<div class="container">
	<div class="row">
		<div class="col-xs-12 spaced">
			<a href="<%= coles_list_path %>"> < See all Coles Lists</a>
		</div>
		<div class="col-xs-12 spaced">
			<h2><%= "#{@list.name} (#{@list.products.count})" %></h2>
		</div>
		<% if @list.products.any? %>
			<div class="col-xs-12 spaced">
				<table class="table table-striped cole_table">
					<head>
						<tr>
							<td>Product Description</td>
							<td>Unit Price</td>
							<td>Qty</td>
							<td>Price</td>
						</tr>
					</head>
					<body>
						<% @list.products.each do |product| %>
							<tr>
								<th><%= product.description.to_s.html_safe %></th>
								<% if product.price.nil? %>
								  <th>unavailable</th>
									<th>unavailable</th>
									<th>unavailable</th>
								<% else %>
									<th><%= product.price %></th>
									<th><%= product.quantity %></th>
									<th><%= (product.price * product.quantity).round(2) %></th>
								<% end %>
							</tr>
						<% end %>
					</body>
				</table>
			</div>
			<div class="col-xs-12 spaced">
				<button class="btn signin" onclick="$.fn.addProductsToCart('<%= add_products_to_cart_path %>', <%= @list.id %>, 'list');">Send products to Coles</button>
			</div>
		<% else %>
			<div class="col-xs-12 spaced">
				<p>You have no products under this list.</p>
			</div>
		<% end %>
	</div>
</div>

<div id="addProductsToCartModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row">
					<div class="col-xs-12 modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
      		<div class="col-xs-12 spaced text-center modal-title">
        	</div>
        	<div class="col-xs-12 spaced text-center modal-body-content">
        	</div>
        	<div class="col-xs-12 spaced text-center model-actions">
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
