<div class="container spinnerparent">
	<div class="row">
		<div class="col-xs-12">
			<h2>Coles Past Orders</h2>
		</div>
		<% if @orders.any? %>
			<div class="col-xs-12">
				<% @orders.each do |order| %>
					<p><a href="<%= coles_order_product_path(order.id) %>"><%= "#{order.DeliveryDate} - #{order.OrderId}" %></a></p>
				<% end %>
			</div>
			<div class="col-xs-12">
				<a href="javascript:void(0);" class="btn signin" onclick="$.fn.getColesOrderProducts(this, '<%= getColesOrderProducts_url %>');">Sync Past Orders</a>
				<p class="text-bold half-spaced">Last updated: <%= List.last_updated_at %></p>
			</div>
		<% else %>
			<div class="col-xs-12">
				<p>You have no coles orders. To synchronize your orders, click the button below.</p>
			</div>
			<div class="col-xs-12">
				<a href="javascript:void(0);" class="btn signin" onclick="$.fn.getColesOrderProducts(this, '<%= getColesOrderProducts_url %>');">Sync Past Orders</a>
				<p class="text-bold half-spaced">Last updated: Never</p>
			</div>
		<% end %>
		</div>
	</div>
</div>
<div class="spinner text-center"></div>
