<div class="container spinnerparent">
	<div class="row">
		<div class="col-xs-12">
			<h2>My Lists</h2>
		</div>
		<% if @lists.any? %>
			<div class="col-xs-12">
				<% @lists.each do |list| %>
					<p><a href="<%= coles_list_product_path(list.id) %>"><%= list.name %></a>(<%= list.products_count %>)</p>
				<% end %>
			</div>
			<div class="col-xs-12">
				<a href="javascript:void(0);" class="btn signin" onclick="$.fn.getColesOrderProducts(this, '<%= getColesOrderProducts_url %>');">Retrieve lists</a>
				<p class="text-bold half-spaced">Last updated: <%= List.last_updated_at %></p>
			</div>
		<% else %>
			<div class="col-xs-12">
				<p>You have no lists. To update your lists, click the button below.</p>
			</div>
			<div class="col-xs-12">
				<a href="javascript:void(0);" class="btn signin" onclick="$.fn.getColesOrderProducts(this, '<%= getColesOrderProducts_url %>');">Retrieve lists</a>
			</div>
		<% end %>
	</div>
</div>

<div class="spinner text-center"></div>
