<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Account</h2>
      <p>Update login details below</p>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="row half-spaced">
      <div class="col-md-5 col-xs-12 form-group">
        <%= f.email_field :email, class: "form-control", readonly: true %>
      </div>
    </div>
    <div class="row half-spaced">
      <div class="col-md-5 col-xs-12 form-group">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control showpassword", placeholder: "New password" %>
      </div>
      <div class="col-md-5 col-xs-12 form-group">
        <span class="showpasswordBtn">Show password</span>
      </div>
    </div>
    <div class="row half-spaced">
      <div class="col-md-4 col-xs-12">
        <%= f.submit "Update", class: "btn signin", style: "width:100%;" %>
      </div>
    </div>
  <% end %>
</div>
