<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Register</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row half-spaced">
      <div class="col-sm-5 form-group">
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email Address" %>
      </div>
      <div class="col-sm-5 form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control showpassword", placeholder: "New password" %>
      </div>
      <div class="col-sm-2 col-height col-xs-12 form-group col-middle">
        <span class="showpasswordBtn">Show password</span>
      </div>
    </div>
    <div class="row half-spaced">
      <div class="col-xs-12 text-center">
        <%= f.submit "Register", class: "btn signin" %>
      </div>
    </div>
  <% end %>
</div>
