<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center spaced half-spaced-bottom">
      <h2>Sign in</h2>
    </div>
  </div>
    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-sm-5 form-group">
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email Address" %>
        </div>
        <div class="col-sm-5 form-group">
          <%= f.password_field :password, autocomplete: "off", :class => "form-control showpassword", :placeholder => "Password" %>
        </div>
        <div class="col-sm-2 col-height col-xs-12 form-group col-middle">
          <span class="showpasswordBtn">Show password</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center half-spaced">
          <%= f.submit "Sign in", :class => "btn signin" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
