/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-theme.min.css
 *= require bootstrap.min.css
 *= require custom_style
 *= require_self
 */

@font-face {
  font-family: "OpenSans";
  src: url('/assets/OpenSans-Regular.ttf') format('truetype');
}

.open-sans {
  font-family: 'OpenSans';
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

.navbar-brand span {
  font-size: 20px;
  padding: 10px;
  color: #595959;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
  color: #555;
}

.pointer {
  cursor: pointer;
}

.form-control {
  height: 40px;
}

.half-spaced {
  padding-top: 10px;
}
.spaced {
  padding-top: 20px;
}
.half-spaced-bottom {
  padding-bottom: 10px;
}
.spaced-bottom {
  padding-bottom: 20px;
}

.signin {
  background: #5600F7;
  color: #fff;
  padding: 9px 5em;
  font-size: 1.4em;
  border-radius: 18px;
}
.signin:hover, .signin:focus {
  color: #fff;
}
.header .navbar {
  background: #fff;
  background-image: none;
  border: none;
  border-color: #fff;
  box-shadow: none;
}

.cole_table tbody>tr>td {
  font-weight: bold;
}

.cole_table tbody>tr>th {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.alert {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.flash-error, .flash-alert {
  border: 2px solid #D91919;
  color: #D91919;
}

.flash-success, .flash-notice {
  border: 2px solid #41A900;
  color: #41A900;
}

.modal-header {
  padding: 0 9px;
  border: 0;
}
.showpasswordBtn {
  cursor: pointer;
  color: #41A900;
  position: relative;
  top: 8px;
  font-weight: bold;
}
