.header_btn {
	padding: .8em 2em !important;
	font-weight: bold;
}

@media (min-width: 768px) {
	.header_btn {
		border: 1px solid #5600F7;
		border-radius: 18px;
		color: #5600F7 !important;
	}
	.navbar li {
		padding: 10px;
	}
}