<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Coles Account</h2>
      <p>Update your Coles login details below.</p>
    </div>
  </div>
  <%= form_for(current_user, url: coles_update_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row half-spaced">
      <div class="col-md-4 col-xs-12">
        <div class="form-group">
          <%= f.text_field :coles_username, class: "form-control", placeholder: "Coles username", required: true %>
        </div>
      </div>
    </div>
    <div class="row half-spaced">
      <div class="col-md-4 col-xs-12">
        <div class="form-group">
          <%= f.password_field :coles_password, class: "form-control", placeholder: "Coles password", required: true, value:"" %>
        </div>
      </div>
    </div>
    <div class="row half-spaced">
      <div class="col-md-4 col-xs-12">
        <%= f.submit "Save", class: "btn signin", style: "width:100%;" %>
      </div>
    </div>
  <% end %>
</div>
