<% if user_signed_in? %>

<% else %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center spaced half-spaced-bottom">
				<h2>Sign in</h2>
			</div>
		</div>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		    <div class="row row-height half-spaced">
		      <div class="col-sm-5 col-height col-xs-12 form-group col-middle">
		        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email Address" %>
		      </div>
		      <div class="col-sm-5 col-height col-xs-12 form-group col-middle">
		        <%= f.password_field :password, autocomplete: "off", class: "form-control showpassword", placeholder: "Password" %>
		      </div>
					<div class="col-sm-2 col-height col-xs-12 form-group col-middle">
						<span class="showpasswordBtn">Show password</span>
					</div>
		    </div>
		    <div class="row half-spaced">
		      <div class="col-xs-12 text-center">
		        <%= f.submit "Sign in", class: "btn signin" %>
		      </div>
		    </div>
		  <% end %>
		</div>
	</div>
<% end %>
