<header class="header">

	<nav class="navbar navbar-default mega-menu">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-navbar-collapse" aria-expanded="false" style="margin: 13px;">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="javascript:void(0);">
	      	<span>ShopJam</span>
	      </a>
	    </div>

	    <div class="collapse navbar-collapse bs-navbar-collapse" style="background:#fff;">
		  <ul class="nav navbar-nav navbar-right">
		    <% if user_signed_in? %>
		    	<li>
		    		<%= link_to('My Account', edit_user_registration_path) %>
		    	</li>
		    	<li>
		    		<a href="<%= coles_path %>">Coles Account</a>
		    	</li>
		    	<li>
		    		<a href="<%= coles_list_path %>">Coles Lists</a>
		    	</li>
		    	<li>
		    		<a href="<%= coles_order_path %>">Coles Orders</a>
		    	</li>
				<li>
					<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "header_btn") %>
				</li>
		    <% else %>
		    	<li>
		    		<a href="/users/sign_in" class="header_btn">Log in</a>
		    	</li>
		    	<li>
		    		<a href="/users/sign_up" class="header_btn">Register</a>
		    	</li>
		    <% end %>
		  </ul>
		</div>
    </nav>
</header>
