<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<%= csrf_meta_tags %>
    	<title>ShopJam</title>
    	<%# Add All Stylesheets here %>
	    <%= stylesheet_link_tag  "application", media: "all", cache: true %>
	    <%# Add all Javascripts here %>
	    <%= javascript_include_tag "application", cache: true %>
	</head>
	<body class="open-sans">
		<%# Include header contains main menu %>
    	<%= render "layouts/header" %>

			<% unless flash.blank? %>
			  <div class="container-fluid">
			    <div class="row">
			      <div class="col-sm-10 col-xs-12 col-centered">
							<% flash.each do |key, value| %>
							  <div class="alert flash-<%= key %>">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<%= value.to_s.html_safe %>
								</div>
							<% end %>
			      </div>
			    </div>
			  </div>
			<% end %>

		<%= yield %>

		<%= render "layouts/footer" %>
	</body>
</html>
